{% extends 'FrontBundle::layout.html.twig' %}

{% block page_title %}
    {{ 'Torrents List' }}
{% endblock %}

{% block content %}
    <section id="heading-message"></section>
    <table class="table table-responsive table-condensed table-hover">
        <thead>
        <tr>
            <th>ID Transmission</th>
            <th>ID Distant</th>
            <th>User</th>
            <th>Name</th>
            <th>Statut</th>
            <th>Type</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for torrent in torrents %}
            {{ include("FrontBundle:torrent:torrent_line.html.twig", {'torrent': torrent}) }}
        {% endfor %}
        </tbody>
    </table>

    <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'Suppression du torrent' }}</h4>
                </div>
                <div class="modal-body">
                    {{ 'Etes-vous sûr de vouloir supprimer ce torrent? Tout fichier sera supprimé, ainsi que sa précense sur transmission.' }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Annuler' }}</button>
                    <button type="button" class="btn btn-primary submit-delete-torrent">{{ 'Confirmer' }}</button>
                </div>
            </div>
        </div>
    </div>

    <a id="reload-url" href="{{ path('torrent_refresh') }}"></a>


{% endblock %}
