<tr id="torrent-{{ torrent.id }}">
    <td class="text-center">
        {% image '@FrontBundle/Resources/public/images/unknown.png' %}
        <img src="{% if torrent.user and torrent.user.email %}{{ torrent.user.avatar }}{% else %}{{ asset_url }}{% endif %}" title="{% if torrent.user %}{{ torrent.user.username }}{% else %}{{ 'Inconnu' }}{% endif %}" width="20" height="20" />
        {% endimage %}
    </td>
    <td>{{ torrent.name }}</td>
    <td class="inline-block">
        {% if torrent.status %}
        <div class="progress" style="width: 100px">
            <div class="progress-bar {{ torrent.status.color }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{ torrent.percent }}%">
                {{ torrent.status.name }}
            </div>
        </div>
        {% endif %}
    </td>
    <td class="inline-block">
        {% if torrent.transfert %}
            <div class="progress" style="width: 100px">
                <div class="progress-bar {{ torrent.transfert.color }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{ torrent.percent }}%">
                    {{ torrent.transfert.name }}
                </div>
            </div>
        {% else %}
            -
        {% endif %}
    </td>
    <td class="inline-block">
        {% if torrent.ratio >= 1 %}
            <i class="glyphicon glyphicon-ok text-success"></i>
        {% else %}
            <i class="glyphicon glyphicon-remove text-danger"></i>
        {% endif %}
        {{ torrent.ratio }}
    </td>
    <td class="inline-block pull-right-mobile"><span class="label {{ torrent.category|type_color }}">{{ torrent.category }}</span></td>
    <td class="text-right inline-block pull-right-mobile">
        {% if torrent.percent >= 100 and torrent.linkgenerated %}
            <a href="{{ torrent.linkgenerated }}" title="{{ "Télécharger le fichier" }}" target="_blank">
                <span class="glyphicon glyphicon-save"></span>
            </a>
        {% elseif torrent.percent >= 100 and torrent.pieces > 1 and not torrent.linkgenerated %}
            <a {% if torrent.compressstate == 0 %}href="{{ path('torrent_compress_files', { 'id': torrent.id }) }}" {% endif %}title="{{ "Compresser les fichiers" }}" class="compress-files">
                {% if torrent.compressstate >= 1 %}
                    <span class="glyphicon glyphicon-repeat glyphicon-refresh-animate"></span>
                {% else %}
                    <span class="glyphicon glyphicon-file"></span>
                {% endif %}
            </a>
        {% endif %}
        {% if torrent.percent >= 100 %}
            <a href="{{ path('torrent_enable_transfert', { 'id': torrent.id }) }}" class="enable-transfert">
                <span class="glyphicon glyphicon-refresh{% if torrent.status and torrent.status.downloaded %} active{% endif %}"></span>
            </a>
        {% endif %}
        <a href="{{ path('torrent_delete', { 'id': torrent.id }) }}" class="delete-torrent">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </td>
</tr>