<tr>
    <td class="text-center">{% if torrent.user and torrent.user.email %}<img src="{{ torrent.user.avatar }}" title="{{ torrent.user.username }}" width="20" height="20" />{% endif %}</td>
    <td>{{ torrent.name }}</td>
    <td>
        <span class="label{% if torrent.status %} {{ torrent.status.color }}{% endif %}">{% if torrent.status %}{{ torrent.status.name }}{% endif %}</span>
    </td>
    <td><span class="label {{ torrent.category|type_color }}">{{ torrent.category }}</span></td>
    <td class="text-right">
        {% if torrent.user %}
            <a href="{{ path('torrent_change_state', { 'id': torrent.id }) }}" class="check-torrent">
                <span class="glyphicon glyphicon-save{% if torrent.status and torrent.status.downloaded %} active{% endif %}"></span>
            </a>
        {% endif %}
        <a href="{{ path('torrent_delete', { 'id': torrent.id }) }}" class="delete-torrent">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </td>
</tr>