<tr>
    <td class="text-center">
        {% image '@FrontBundle/Resources/public/images/unknown.png' %}
            <img src="{% if torrent.user and torrent.user.email %}{{ torrent.user.avatar }}{% else %}{{ asset_url }}{% endif %}" title="{% if torrent.user %}{{ torrent.user.username }}{% else %}{{ 'Inconnu' }}{% endif %}" width="20" height="20" />
        {% endimage %}
    </td>
    <td>{{ torrent.name }}</td>
    <td>
        <span class="label{% if torrent.status %} {{ torrent.status.color }}{% endif %}">{% if torrent.status %}{{ torrent.status.name }}{% endif %}</span>
    </td>
    <td><span class="label {{ torrent.category|type_color }}">{{ torrent.category }}</span></td>
    <td class="text-right">
        {% if torrent.user %}
            <a href="{{ path('torrent_enable_transfert', { 'id': torrent.id }) }}" class="enable-transfert">
                <span class="glyphicon glyphicon-save{% if torrent.status and torrent.status.downloaded %} active{% endif %}"></span>
            </a>
        {% endif %}
        <a href="{{ path('torrent_delete', { 'id': torrent.id }) }}" class="delete-torrent">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </td>
</tr>