<table class="table table-responsive table-condensed table-hover" data-toggle="table">
    <thead>
    <tr>
        <th></th>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="category" data-sortable="true">Category</th>
        <th data-field="seeders" data-sortable="true">Seeders</th>
        <th data-field="added" data-sortable="true">Date Add</th>
    </tr>
    </thead>
    <tbody>
    {% for torrent in torrents %}
        <tr>
            <td class="text-right">
                <a href="{{ path('request_send', {id: torrent.id, token: 'BE91AE97B1F44BD12C142F671D1AA'}) }}" class="download-torrent">
                    <span class="glyphicon glyphicon-save"></span>
                </a>
            </td>
            <td>{{ torrent.name }}</td>
            <td><span class="label {{ torrent.categoryname|type_color }}">{{ torrent.categoryname }}</span></td>
            <td>{{ torrent.seeders }}</td>
            <td>{{ torrent.added|date("d/m/Y") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>