{% extends '::base.html.twig' %}

{% block body %}
    <header class="page-header clearfix">
        <div id="top-bar">
            <div class="container">
                <nav class="pull-left">
                    <ul class="nav nav-tabs">
                        <li role="presentation"{% if (app.request.get('_route') == 'torrent_index') %} class="active"{% endif %}><a href="{{ path('torrent_index') }}">{{ 'Transferts' }}</a></li>
                        <li role="presentation"{% if (app.request.get('_route') == 'torrent_top100') %} class="active"{% endif %}><a href="{{ path('torrent_top100') }}">{{ 'Top 100' }}</a></li>
                        <li role="presentation"{% if (app.request.get('_route') == 'torrent_today') %} class="active"{% endif %}><a href="{{ path('torrent_today') }}">{{ 'Today' }}</a></li>
                        <li role="presentation"{% if (app.request.get('_route') == 'torrent_search') %} class="active"{% endif %}><a href="#">{{ 'Paramètres' }}</a></li>
                    </ul>
                </nav>
                <div class="pull-right user-info">
                    <a href="{{ path('fos_user_security_logout') }}">{{ 'Se déconnecter' }}</a>
                    <img src="{{ app.user.avatar }}" title="{{ app.user.username }}" width="20" height="20" />
                </div>
            </div>
        </div>
        <div class="container">
            <form id="search-form" class="form-inline pull-right" method="GET" action="{{ path('torrent_search') }}">
                <div class="form-group">
                    <label class="sr-only" for="search">{{ 'Recherche' }} : </label>
                    <div class="input-group">
                        <input type="search" class="form-control" name="search" id="search" placeholder="{{ 'Tapez votre recherche' }}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">{{ 'Valider' }}</button>
            </form>
        </div>
    </header>

    <div class="container">
        <section id="heading-message"></section>
        <section class="page-content">
            {% block content %}{% endblock %}
        </section>
    </div>

    <footer>
        <div class="container">
        </div>
    </footer>
{% endblock %}