{% extends '::base.html.twig' %}
{% trans_default_domain "FrontBundle" %}

{% block title %}
    Download Manager
{% endblock %}

{% block body %}

    <header class="page-header clearfix">
        <div id="top-bar">
            <div class="container">
                <nav class="pull-left">
                    <ul class="nav nav-tabs">
                        {% if app.user %}
                            <li role="presentation"{% if (app.request.get('_route') == 'torrent_upload') %} class="active"{% endif %}><a href="{{ path('torrent_upload') }}" id="upload-torrent" title="{{ 'Upload' }}"><i class="glyphicon glyphicon-cloud-upload"></i></a></li>
                            <li role="presentation"{% if (app.request.get('_route') == 'torrent_index') %} class="active"{% endif %}><a href="{{ path('torrent_index') }}" title="{{ 'Transferts' }}"><i class="glyphicon glyphicon-transfer"></i></a></li>

                            {#<li role="presentation"{% if (app.request.get('_route') == 'torrent_top100') %} class="active"{% endif %}><a href="{{ path('torrent_top100') }}">{{ 'Top 100' }}</a></li>
                            <li role="presentation"{% if (app.request.get('_route') == 'torrent_today') %} class="active"{% endif %}><a href="{{ path('torrent_today') }}">{{ 'Today' }}</a></li>#}
                        {% endif %}
                    </ul>
                </nav>
                <nav class="pull-right">
                    <ul class="nav nav-tabs">
                        {% if app.user %}
                            <li role="presentation"{% if (app.request.get('_route') == 'user_edit') %} class="active"{% endif %}><a href="{{ path('user_edit') }}" title="{{ 'Paramètres' }}"><i class="glyphicon glyphicon-cog"></i></a></li>
                            <li role="presentation"><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-log-out"></i></a></li>
                        {% else %}
                            <li role="presentation"><a href="{{ path('fos_user_security_login') }}">{{ 'Se connecter' }}</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {% if app.user %}
            <div class="container hidden-xs">
                <form id="search-form" class="form-inline pull-right" method="GET" action="{{ path('torrent_search') }}">
                    <div class="form-group">
                        <label class="sr-only" for="search">{{ 'Recherche' }} : </label>
                        <div class="input-group">
                            <input type="search" class="form-control" name="search" id="search" placeholder="{{ 'Tapez votre recherche' }}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ 'search.submit'|trans }}</button>
                </form>
            </div>
        {% endif %}
    </header>

    <div id="main-container" class="container">
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert {% if type == 'error' %}alert-danger{% else %}alert-success{% endif %} flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <section id="heading-message"></section>
        <section class="page-content">
            {% block content %}{% endblock %}
        </section>
    </div>

    <footer>
        <div class="container">
        </div>
    </footer>

    <div id="upload-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'Charger un torrent' }}</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Annuler' }}</button>
                    <button type="button" class="btn btn-primary submit-upload-torrent">{{ 'Confirmer' }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}